
body{
    background-color: rgb(235, 224, 245);
}
.transaction-container-main-div{
    display: flex;  
}

.container{
    height: 80px;
    width: 1000px;
    border: 0.5px solid;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: white;
    box-shadow: 10px 1px 6px 2px rgb(128, 126, 126);
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
}
.transaction-ammount{
    font-weight: bold;
    font-size: 30px;
    margin-left: 25px;

}
.change-cradintial-debitition{
    font-size: 20px;
    font-weight: 500;
    
}
.transaction-debit{
    color: red;
}
.transaction-credit{
    color: green;
}
.transaction-category{
    position: absolute;
     right: 15px;
     font-weight: 600;
}
.description-text{
    font-size: 18px;
    margin-left: 20px;
    padding-left: 10px;
}
hr{
    width: 100px;
}
.creadit-debit-expenses{
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;
}
.delete-Transaction{
    position: absolute;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(9, 16, 75);
}
.side-navbar-div{
    height: 600px;
    width: 200px;
    background-color: rgb(9, 16, 75);
    position: relative;
    top: -19px;
    
}
.side-navbar-items{
   text-align: center;
    background-color: #c5c9c6;
    cursor: pointer;
   
}
.text-decore{
 text-decoration: none;
}
