.main-signup-form-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.signup-illustration-image{
    margin-top: 80px;
}
.signup-form{
    height: 350px;
    width: fit-content;
    background-color: rgb(147, 236, 236);
    margin-top: 30px;
    padding: 30px;
    border-radius: 3px;
}
.input-box{
    height: 24px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 3px;
    padding: 5px;
}

.radio-btn-container{
    margin-left: 20px;
    font-size: 20px;
}
.sign-up-btn{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
}
.already-register-user-link{
    text-align: center;
    text-decoration: none;
}