.navbar-container{
background-color: #c5c9c6;
padding: 20px;

}
.Navbar-item{
    display: flex;
     
}
.text-item{
    color: black;
    text-decoration: none;
    margin-left: 30px;
}
.logo{
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: rgb(17, 17, 85);
}
.user-identify{
    display: block;
    margin-top: 14px;
}
.logout{
    height: 50px;
    color: rgb(100, 100, 219);
    position: relative;
    margin-left: 600px;
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
}
.logout:hover{
    color: rgb(17, 17, 85);
}
.navbar-logout{
    color: rgb(122, 31, 31);
}
.flex-container{
    display: flex;
    margin: 0px 10px;
}
